.area
  .area__contents.inner
    %h2 対応エリア
    .area__contents__center
      .area__contents__center__left
        = image_tag "logo.png"
      .area__contents__center__right
        .area__contents__center__right__list
          .area__contents__center__right__list__block
            %p.area__contents__center__right__list__block__title 東北
            %p.area__contents__center__right__list__block__item
              %a 宮城
          .area__contents__center__right__list__block
            %p.area__contents__center__right__list__block__title 関東
            %p.area__contents__center__right__list__block__item
              %a 茨城
              %a 群馬
              %a 埼玉
              %a 千葉
              %a 東京
              %a 神奈川
              %a 山梨
              %a 長野
          .area__contents__center__right__list__block
            %p.area__contents__center__right__list__block__title 北陸
            %p.area__contents__center__right__list__block__item
              %a 新潟
          .area__contents__center__right__list__block
            %p.area__contents__center__right__list__block__title 東海
            %p.area__contents__center__right__list__block__item
              %a 岐阜
              %a 愛知
              %a 三重
              %a 静岡
          .area__contents__center__right__list__block
            %p.area__contents__center__right__list__block__title 関西
            %p.area__contents__center__right__list__block__item
              %a 滋賀
              %a 京都
              %a 大阪
              %a 兵庫
              %a 奈良
              %a 和歌山
          .area__contents__center__right__list__block
            %p.area__contents__center__right__list__block__title 沖縄
            %p.area__contents__center__right__list__block__item
              %a 沖縄