.footer
  .footer__btn
  = link_to "tel:0120920678" , class: "footer__contents" do
    %p.footer__contents__title お電話でのお問い合わせはこちらをタップ
    .footer__contents__info
      %p.footer__contents__info__tel 0120-920-678
      %p.footer__contents__info__time 【受付時間】8:00~20:00
  = link_to root_info_path , class: "footer__mail" do
    ご相談
    %br.hidden-res
    お見積り