.service_main
  .service_main__photo
    = image_tag "error_image.jpg", alt:"花の写真"
    .service_main__photo__title
      %span ERROR
    - breadcrumb :info
    = render 'share/breadcrumb'

.service_contents
  .service_contents__title
    %span 予期せぬエラーが発生しました
  .info-discription
    %span お探しのページが見つからないか、要求したリクエストが処理されませんでした。お手数をおかけしますが、トップページに戻って、もう一度お試しください。