.performance
  .performance__box
    %span.box-title
      生前整理
    .box-ti
      %p.sub アパート　１K　作業人数：２人　作業時間：３時間
    .box-ti.hidden
      %p.sub 一軒家　１K
      %p.sub 作業人数：２人　作業時間：３時間
    .box-bottom
      .box-img
        .before
          = image_tag 'before_03.jpg', alt: 'before'
          %p.txt-before Before
        = fa_icon 'caret-right'
        .after
          = image_tag 'after_03.jpg', alt: 'after'
          %p.txt-after After
      .box-price
        %p.viewPC 滋賀県東近江市の２階建てアパート１階で一人暮らしをされている高齢者の方のお家の片付けを行いました。施設入所が決まったので施設に持っていくものと処分するものをご本人様のお声を聞きながら梱包いたしました。最後は今までありがとうの気持ちをもって清掃し作業を完了いたしました。私どもの対応と料金に大変満足していただき、ありがとうのお言葉をいただきました。
        %table.table
          %tbody
            %tr
              %th.btm 作業料金
              %td.btm
                40,000
                %span 円