.performance
  .performance__box
    %span.box-title
      遺品整理
    .box-ti
      %p.sub 一軒家　２DK　作業人数：２人　作業時間：６時間
    .box-ti.hidden
      %p.sub 一軒家　２DK
      %p.sub 作業人数：２人　作業時間：６時間
    .box-bottom
      .box-img
        .before
          = image_tag 'before_04.jpg', alt: 'before'
          %p.txt-before Before
        = fa_icon 'caret-right'
        .after
          = image_tag 'after_04.jpg', alt: 'after'
          %p.txt-after After
      .box-price
        %p.viewPC 滋賀県彦根市の平屋での遺品整理をご親戚の方からご依頼いただきました。買取品や貴重品などの分別・模索を慎重にとのご要望で承りました。
        %table.table
          %tbody
            %tr
              %th.btm 作業料金
              %td.btm
                130,000
                %span 円