.performance
  .performance__box
    %span.box-title
      特殊清掃
    .box-ti
      %p.sub アパート　１K　作業人数：２人　作業時間：４時間
    .box-ti.hidden
      %p.sub アパート　１K
      %p.sub 作業人数：２人　作業時間：４時間
    .box-bottom
      .one-pic-box
        = image_tag 'sc_case.jpg', alt: '特殊清掃'
      .box-price
        %p.viewPC アパート内にて孤独死。ご遺族様からのご依頼で特殊清掃を行いました。死後、発見までは早く匂いは部屋の中だけでとどまっておりました。お部屋の片隅でお亡くなりになられていたようでカーペットとその下の畳に腐敗液が染み込んでおりました。汚染物を除去、撤去し床板には浸透していなかった為、匂いはこの時点でかなりなくなりました。強力な除菌消臭効果のある特殊な薬剤で清掃し、オゾン脱臭機を設置いたしました。ご遺族様自身で遺品整理は行いたいとのご要望でしたのでお部屋に入れるまで回復させていただき特殊清掃の作業は完了いたしました。後日、遺品整理をご家族で行われその後再度、お部屋全体の消臭の依頼を承りました。
        %table.table
          %tbody
            %tr
              %th.btm 作業料金
              %td.btm
                60,000
                %span 円