.performance
  .performance__box
    %span.box-title
      遺品整理
    .box-ti
      %p.sub マンション１室　２DK　作業人数：２人　作業時間：６時間
    .box-ti.hidden
      %p.sub マンション１室　２DK
      %p.sub 作業人数：２人　作業時間：６時間
    .box-bottom
      .box-img
        .before
          = image_tag 'before_04.png', alt: 'before'
          %p.txt-before Before
        = fa_icon 'caret-right'
        .after
          = image_tag 'after_04.jpg', alt: 'after'
          %p.txt-after After
      .box-price
        %p.viewPC 滋賀県彦根市のマンション１室での遺品整理を故人の妹さまからご依頼いただきました。故人とは年に数回会う程度で何がどこにあるのか全くわからず貴重品や買取品などの分別・模索を慎重にとのご要望がありました。お部屋全体は綺麗に片付けられていて作業しやすく、書類関係・衣類のポケットまで時間をかけて丁寧に模索いたしました。ご依頼者さまがお探しになられていた書類も見つけることができ、また買取できる宝飾品も見つかり喜んでいただけました。
        %table.table
          %tbody
            %tr
              %th.btm 作業料金
              %td.btm
                130,000
                %span 円