.performance
  .performance__box
    %span.box-title
      家財整理
    .box-ti
      %p.sub 一軒家　３DK　作業人数：４人　作業時間：４時間
    .box-ti.hidden
      %p.sub 一軒家　３DK
      %p.sub 作業人数：４人　作業時間：４時間
    .box-bottom
      .box-img
        .before
          = image_tag 'before_01.jpg', alt: 'before'
          %p.txt-before Before
        = fa_icon 'caret-right'
        .after
          = image_tag 'after_01.jpg', alt: 'after'
          %p.txt-after After
      .box-price
        %p.viewPC 兵庫県の集合住宅で生前遺品整理をさせていただきました。細々したお品物もしっかりと不要品、買取できるお品物で分別させていただきました。弊社では戸建て、マンション、集合住宅等様々なご自宅に対応しています。
        %table.table
          %tbody
            %tr
              %th 作業料金
              %td 210,000円
            %tr
              %th 買取金額
              %td 30,000円
            %tr
              %th.btm 買取後の作業料金
              %td.btm
                180,000
                %span 円