.performance
  .performance__box
    %span.box-title
      家財整理
    .box-ti
      %p.sub 一戸建て　7LDK　作業人数：4人　作業時間：8時間
    .box-ti.hidden
      %p.sub 一戸建て　7LDK
      %p.sub 作業人数：4人　作業時間：8時間
    .box-bottom
      .box-img
        .before
          = image_tag 'before_01.jpg', alt: 'before'
          %p.txt-before Before
        = fa_icon 'caret-right'
        .after
          = image_tag 'after_01.jpg', alt: 'after'
          %p.txt-after After
      .box-price
        %p.viewPC
          滋賀県長浜市の一戸建て解体前の家財整理を行いました。遠方に住んでおられる息子様からのご依頼で作業当日は立ち合いなしで作業を行いました。
          %br
          物量はかなり多く作業に時間がかかると考えていましたが、事前にご家族様がある程度段ボールに梱包して下さるとのことでしたので作業員を減らし対応、作業後も解体されるので清掃も必要なく完了いたしました。その分お値引きもさせていただき大変ご満足いただくことが出来ました。
        %table.table
          %tbody
            %tr
              %th 作業料金
              %td 90,000円
            %tr
              %th 処理費用
              %td 240,000円
            %tr
              %th.btm 合計費用
              %td.btm
                330,000
                %span 円