= render 'share/header'

.cleaning_main
  .cleaning_main__photo
    .cleaning_main__photo__title
      %h2 家財整理

.cleaning_contents
  .cleaning_contents__title
    %h2 家財整理とは
  .cleaning_contents__container
    .cleaning_contents__photo
    .cleaning_contents__textbox
      .cleaning_contents__textbox__title
        %span 大きな家財も片付けます
      .cleaning_contents__textbox__description
        %p
          大きすぎて捨てるに捨てれない家財や
        %p
          断捨離をしたいがどのように捨ててよいのかわからない家財など
        %p
          当社にて回収し、正しく処分させていただきます。

  .cleaning_contents__title
    %h2 ご利用料金
  .cleaning_contents__fee
    %p.cleaning_contents__fee__inner
      %span 家財整理サービス
  .cleaning_contents__price
    %span 1
    %span.small 日
    %span ２０，０００
    %span.small 円
    %span.small（税別）

  .cleaning_contents__title
    %h2 参考事例
  .cleaning_contents__casebox
    .cleaning_contents__casebox__inner
      %h3 Aさん宅の事例
      .cleaning_contents__casebox__inner__before
        = image_tag "cleaning-image1.jpg"
      .cleaning_contents__casebox__inner__after
        = image_tag "cleaning-image2.jpg"

.cleaning_area.inner
  .cleaning_area__title
    %h2 対応エリア
  .cleaning_area__block
    %h3.cleaning_area__block__ttl
      滋賀県
    %p.cleaning_area__block__text
      大津市、草津市、守山市、栗東市、野洲市、甲賀市、湖南市、彦根市、愛荘町、豊郷町、甲良町、多賀町