- set_meta_tags title: '会社概要ページ', noindex: true

.service_main
  .service_main__photo
    = image_tag 'company-image.jpg', alt:"花の写真"
    .service_main__photo__title
      %span 会社概要
    - breadcrumb :company
    = render 'share/breadcrumb'
.service_contents
  .service_contents__title
    %span 代表挨拶
  .service_contents__container.president-container
    .service_contents__container__textbox.president-textbox
      .service_contents__container__textbox__title
        %span 代表取締役　小嶋祥介
      .service_contents__container__textbox__description
        %span
          　近年、天災による災害や感染病または核家族化・少子高齢化が進み日本は高齢者が今後も増大する傾向があります。
          %br
          　私はこれまで、高齢者の方やそのご家族の不安なお気持ちを数多く耳にしてきました。そして、その声を聞きそのような方たちのお役に立ちたい、ほんの少しでも力になりたいと考えるようになり会社を立ち上げました。決して、おごりや余力での思いではございません。
          %br
          　私自身、母の介護を経て、そして他界してから周りの方々のほんのちょっとしたお言葉やわずかな力添えに助けられました。母の死を境に遺品整理業、遺品整理士の必要性を強く感じてまいりました。その想いを忘れることなく、弊社スタッフ一同、ご依頼者様の心に寄り添い、お声をしっかりと聞き、全ての出会いが天から授かったご縁であると捉え、誠心誠意ご依頼者様のために心のこもったサービスをご提供できますよう取り組んでまいります。
    .service_contents__container__photo.president-photo
      =image_tag "president.jpg"
  .service_contents__title
    %span 会社情報
.company
  .company__content
    %table
      %tr
        %th 会社名
        %td 株式会社天授
      %tr
        %th 代表取締役
        %td 小嶋祥介
      %tr
        %th 所在地
        %td 
          〒522-0201
          %br
          滋賀県彦根市下西川町613-1
      %tr
        %th 対応エリア
        %td
          滋賀・岐阜・三重・京都・大阪・福井・愛知
          %br
          ※上記にないエリアに関しても一度ご相談ください。
      %tr
        %th 設立
        %td 2020年1月22日
      %tr
        %th 事業内容
        %td 住空間整理サービス
      %tr
        %th 取引銀行
        %td 滋賀銀行・滋賀中央信用金庫
      %tr
        %th 営業時間
        %td 8:00~20:00

%iframe{allowfullscreen: "", "aria-hidden" => "false", frameborder: "0",src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3259.266252202057!2d136.17315651488323!3d35.22474156247952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60017f9f2e0f7e8f%3A0xc149c5276bdd1343!2z44CSNTIxLTExNDIg5ruL6LOA55yM5b2m5qC55biC5LiL6KW_5bed55S677yW77yR77yT4oiS77yR!5e0!3m2!1sja!2sjp!4v1596154632785!5m2!1sja!2sjp", style: "border:0;", tabindex: "0"}