= render 'share/header'
.company
  .company__photo
    .company__photo__title
      %h2 家財整理
  .company__area__title
    %h2 社長挨拶
  .company__greeting
    .company__greeting__content
      %p.img_greeting_01
        = image_tag 'greeting.png', alt:"代表者取締役　小嶋　祥介"
      .box_greeting
        %p
          近年、天災による災害や感染病または核家族化・少子高齢化が進み
          %br/
          日本は高齢者が今後も増大する傾向があります。
        %p
          高齢者の方やそのご家族の不安なお気持ちを数多く耳にしてきました。
          %br/
          私はその声を聞きそのような方たちのお役に立ちたい、
          %br/
          ほんの少しでも力になりたいと考えるようになりました。
        %p
          決して、おごりや余力での思いではございません。
          %br/
        %p
          私自身、母の介護を経てそして他界してから周りの人のほんのちょっとした
          %br/
          わずかな力添えに助けれました。
          %br/
        %p
          その想いを忘れることなく私はお約束いたします。
          %br/
        %p
          ご依頼者様の心に寄り添い、お声を聞き、
          %br/
          全ての出会いが天から授かったご縁であるととらえ、
        %p
          ご依頼者様が再出発できますようにお手伝いをさせていただきます。
        %dl.greeting_sign
          %dt
            代表取締役
          %dd
            小嶋祥介
    
  .company__content
  .company__area
    .company__area__title
      %h2 対応エリア
    .company__area__block
      %h3.company__area__block__ttl
        滋賀県
      %p.company_area__block__text
        大津市、草津市、守山市、栗東市、野洲市、甲賀市、湖南市、彦根市、愛荘町、豊郷町、甲良町、多賀町 
  .company__google
    %iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3258.4671036208074!2d136.256188315604!3d35.24463346139871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6003d4f7a3d00001%3A0x836474c40fe4cf13!2z44K944OV44OI44OQ44Oz44KvIOW9puagueWkp-WggO-8mOWPt-e3mg!5e0!3m2!1sja!2sjp!4v1584851191626!5m2!1sja!2sjp" frameborder="0")
