.service_main
  .service_main__photo
    = image_tag "info_image.jpg"
    .service_main__photo__title
      %span ご相談・お見積もり

.service_contents
  .service_contents__title
    %span 無料相談・お見積り

%form
  〒
  %input{type: "text", name: "zip", onKeyUp: "AjaxZip3.zip2addr('zip', '', 'address', 'address');"}
  %input{type: "text", name: "address"}
