.service_main
  .service_main__photo
    = image_tag "cleaning-image2.jpg", alt:"部屋の写真"
    .service_main__photo__title
      %span ライフサポート

.service_contents
  .service_contents__title
    %span 簡易代行
  .service_contents__container
    .service_contents__container__photo
      =image_tag "cleaning-image1.jpg"
    .service_contents__container__textbox
      .service_contents__container__textbox__title
        %span 小さなことでもご相談ください
      .service_contents__container__textbox__description
        %p
          ちょっとした事だけど手伝ってほしい事ありませんか。
        %p
          頼める人が近くにいない。忙しくて時間がない。
        %p
          足腰が弱ってきて体力的に厳しい。
        %p
          病気やケガ・体調が悪く安静が必要。
        %p
          遠方に住んでいるので代わりに家族を助けてやってほしい。
        %p
          娘がお産で里帰り自分は仕事をしていて
        %p
          あまり見てやれない。など
        %p
          小さい事でもどんな事でもお手伝いいたします。

      .service_contents__container__textbox__description_resp
        %p
          ちょっとした事だけど手伝ってほしい事
        %p
          ありませんか。
        %p
          頼める人が近くにいない。
        %p
          忙しくて時間がない。
        %p
          足腰が弱ってきて体力的に厳しい。
        %p
          病気やケガ・体調が悪く安静が必要。
        %p
          遠方に住んでいるので代わりに
        %p
          家族を助けてやってほしい。
        %p
          娘がお産で里帰り自分は仕事をしていて
        %p
          あまり見てやれない。など
        %p
          小さい事でもどんな事でも
        %p
          お手伝いいたします。

  .service_contents__title
    %span ご利用料金
  -# .service_contents__fee
  -#   %p.service_contents__fee__inner
  -#     %span 家財整理サービス
  -# .service_contents__price
  -#   %span 1
  -#   %span.small 日
  -#   %span ２０，０００
  -#   %span.small 円
  -#   %span.small（税別）

  .service_contents__title
    %span 参考事例
  .service_contents__casebox
    .service_contents__casebox__inner
      .service_contents__casebox__inner__back
        %span Aさん宅の事例
        .service_contents__casebox__inner__back__before
          = image_tag "cleaning-image1.jpg"
        .service_contents__casebox__inner__back__after
          = image_tag "cleaning-image2.jpg"

