.service_main
  .service_main__photo
    = image_tag "cleaning-image2.jpg"
    .service_main__photo__title
      %span 遺品整理

    - breadcrumb :recovery
    = render 'share/breadcrumb'

.service_contents
  .service_contents__title
    %span 遺品整理とは
  .service_contents__container
    .service_contents__container__photo
      =image_tag "cleaning-image1.jpg"
    .service_contents__container__textbox-re
      .service_contents__container__textbox-re__title
        %span ご遺族の気持ちに寄り添う
      .service_contents__container__textbox-re__description
        %p
          大切なご親族がお亡くなりになりご葬儀や各種手続きなど
        %p
          肉体的にも精神的にもご負担の多いご遺族様に代わり、
        %p
          故人が使用されていた品物全てのご遺品を丁寧に整理し
        %p
          形見分けをしてご遺族にお届けさせていただきます。
        %p
          残されたご遺品を廃棄するのがしのびないという場合は寺院での
        %p
          お焚き上げをしていただく事もできます。

    .service_contents__container__photo-right
      =image_tag "cleaning-image1.jpg"
    .service_contents__container__textbox-re-l
      .service_contents__container__textbox-re-l__description
        %p
          お焚き上げにより故人はもちろんご遺族様にお気持ちも一緒に浄化され
        %p
          天に帰りますように。
        %p
          遺品整理は人生の中でそうあるものではありません。
        %p
          同じ現場はひとつとしてありません。
        %p
          ご遺族様の気持ちに寄り添い知識や実務、法令規則のノウハウを
        %p
          身につけたスタッフが
        %p
          心を込めてお手伝いさせていただきます。

      .service_contents__container__textbox__description_resp
        %p
          大切なご親族がお亡くなりになり
        %p
          ご葬儀や各種手続きなど肉体的にも精神的にも
        %p
          ご負担の多いご遺族様に代わり、
        %p
          故人が使用されていた品物全てのご遺品を
        %p
          丁寧に整理し形見分けをしてご遺族に
        %p
          お届けさせていただきます。
        %p
          残されたご遺品を廃棄するのがしのびない
        %p
          という場合は寺院でのお焚き上げを
        %p
          していただく事もできます。
        %p
          お焚き上げにより故人はもちろん
        %p
          ご遺族様にお気持ちも一緒に浄化され
        %p
          天に帰りますように。
        %p
          遺品整理は人生の中でそうあるものでは
        %p
          ありません。
        %p
          同じ現場はひとつとしてありません。
        %p
          ご遺族様の気持ちに寄り添い知識や実務、
        %p
          法令規則のノウハウを身につけたスタッフが
        %p
          心を込めてお手伝いさせていただきます。

  .service_contents__title
    %span ご利用料金
  -# .service_contents__fee
  -#   %p.service_contents__fee__inner
  -#     %span 家財整理サービス
  -# .service_contents__price
  -#   %span 1
  -#   %span.small 日
  -#   %span ２０，０００
  -#   %span.small 円
  -#   %span.small（税別）

  .service_contents__title
    %span 参考事例
  .service_contents__casebox
    .service_contents__casebox__inner
      .service_contents__casebox__inner__back
        %span Aさん宅の事例
        .service_contents__casebox__inner__back__before
          = image_tag "cleaning-image1.jpg"
        .service_contents__casebox__inner__back__after
          = image_tag "cleaning-image2.jpg"
