:javascript
  window.onload = addToNewUrl();

.service_main
  .service_main__photo
    = image_tag "info_image.jpg", alt:"花の写真"
    .service_main__photo__title
      %span ご相談・お見積り
    - breadcrumb :info
    = render 'share/breadcrumb'

.service_contents
  .service_contents__title
    %span 送信完了
  .info-discription
    %span お問い合わせいただき誠にありがとうございます。当社スタッフより原則２営業日内にお返事をさせていただきますので、今しばらくお待ちください。