.header{
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid orange;
  &__left{
    margin-top: 1rem;
    &__logo{
      .logo{
        margin: 0 1rem 1.2rem 0;
      }
    }
  }
  &__right{
    &__call{
      display: flex;
      justify-content: flex-end;
      margin-right: 3rem;
      font-weight: bold;
      img{
        height: 48px;
        width: 48px;
      }
      p{
        color: darkorange;
        margin: 0 0 0 0.5rem;
        font-size: 1.8rem;
        line-height: 3rem;
      }
      span{
        line-height: 3.3rem;
      }
    }
    &__list{
      display: flex;
      margin: 0 0 1rem 0;
      padding: 0 11rem 0 0;
      position: relative;
      li, .info-button{
        position: relative;
        margin-right: 2.5rem;
        font-size: 1rem;
        font-weight: 600;
        font-family: "-apple-system", 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        a::after{
          position: absolute;
          content: '';
          bottom: -0.5rem;
          left: 0;
          width: 0;
          height: 2px;
          background: orange;
          transition: all 0.3s ease 0s;
        }
        a:hover::after{
          width: 100%;
        }
      }
      .info-button{
        position: absolute;
        right: 0;
        top: -0.5rem;
        padding: 0.5rem;
        color: #fff;
        border-radius: 0.6rem;
        background-color: darkorange;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease 0s;
      }
      .info-button:hover{
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
        transform: translateY(-0.1875em);
      }
    }
  }
}