.plan__contents__body__reference__box
  .plan__contents__body__reference__box__left
    %table
      %thead
        %tr
          %th 広さ
          %th 作業員
          %th 料金
      %tbody
        %tr
          %td 1K
          %td 3名
          %td 28,000円（税別）～
        %tr
          %td 1DK
          %td 3名
          %td 58,000円（税別）～
        %tr
          %td 1LDK
          %td 3名
          %td 75,000円（税別）～
        %tr
          %td 2DK
          %td 3名
          %td 105,000円（税別）～
        %tr
          %td 2LDK
          %td 4名
          %td 125,000円（税別）～
        %tr
          %td 3DK
          %td 5名
          %td 145,000円（税別）～
        %tr
          %td 3LDK
          %td 6名
          %td 155,000円（税別）～
        %tr
          %td 4DK
          %td 6名
          %td 175,000円（税別）～
        %tr
          %td 4LDK
          %td 6名
          %td 195,000円（税別）～


  .plan__contents__body__reference__box__right
    %p.plan__contents__body__reference__box__right__text
      ワンストップサービスにより低料金を実現することができます。ご予算の目安としてご覧ください。
      %span.plan__contents__body__reference__box__right__text__caution
        どのような作業が必要かに応じて金額は変更いたします。
    %p.plan__contents__body__reference__box__right__text
      %span.plan__contents__body__reference__box__right__text__caution
        廃棄物処理代金は条例等により各市町村で金額が異なりますので、別途必要な場合があります。詳しくは当社までお問い合わせください。
    .plan__contents__body__reference__box__right__payment
      %h4
        %span お支払い方法
      %p.plan__contents__body__reference__box__right__payment__orangetext
        現金払い・事前振込の他、
        %br
          クレジットカードがご利用頂けます。
      %p.plan__contents__body__reference__box__right__payment__available
        %span ご利用可能なカード：
        %span
          = image_tag "cardlist2.jpg"
