.plan__contents__body__reference__box
  .plan__contents__body__reference__box__left.pack-box
    %p 【内容】水洗い・敷地内雑草取り・供花・お線香・写真撮影
    %table
      %thead
        %tr
          %th サービス内容
          %th 料金(税抜き)
      %tbody
        %tr
          %td スポット(1回)
          %td 8,000円
        %tr
          %td 定期 2回/年
          %td 15,000円
        %tr
          %td 定期 4回/年
          %td 28,000円
        %tr
          %td お線香・供花のみ 1回
          %td 3,000円
        %tr
          %td お墓の状況確認のみ 1回
          %td 2,500円
        %tr
          %td 出張費
          %td 1,000円
    %span ※出張費はエリアにより異なります。
    %br
    %span ※その他ご要望ございましたら、お客様のニーズに合わせてお見積り、提案させていただきます。