.plan__contents__body__reference__box
  .plan__contents__body__reference__box__left.pack-box
    %p 【内容】水洗い・敷地内雑草取り・供花・お線香・写真撮影
    %table
      %thead
        %tr
          %th サービス内容
          %th 料金
      %tbody
        %tr
          %td スポット(1回)
          %td 8,000円（税別）
        %tr
          %td 定期 2回/年
          %td 15,000円（税別）
        %tr
          %td 定期 4回/年
          %td 28,000円（税別）
        %tr
          %td 定期 6回/年
          %td 39,000円（税別）
        %tr
          %td 定期 12回/年
          %td 72,000円（税別）
        %tr
          %td 出張費
          %td 1,000円（税別）
    %span ※出張費はエリアにより異なります。
    %br
    %span ※ご要望のお供えがあったり、清掃は年に数回でいいがお線香や供花だけは毎月お願いしたい、お墓の状況だけ確認して欲しいなど、お客様のニーズに合わせてお見積り、提案させていただきます。