.plan__contents__body__reference__box
  .plan__contents__body__reference__box__left.pack-box
    %p 【内容】室内換気・通水・外回り確認・郵便物の確認・写真撮影
    %table
      %thead
        %tr
          %th サービス内容
          %th 料金(税抜き)
      %tbody
        %tr
          %td スポット(1回)
          %td 4,000円
        %tr
          %td 定期 2回/年
          %td 6,000円
        %tr
          %td 定期 4回/年
          %td 8,000円
        %tr
          %td 定期 6回/年
          %td 9,000円
        %tr
          %td 郵便物・外回りの確認のみ 1回
          %td 3,000円
        %tr
          %td 出張費
          %td 1,000円
    %span ※出張費はエリアにより異なります。
    %br
    %span ※玄関先だけの簡単な掃き掃除など、上記にない内容でもご要望がありましたらなんなりとご相談ください。
  .plan__contents__body__reference__box__right
    .plan__contents__body__reference__box__right__text
    .plan__contents__body__reference__box__right__option
      %h4
        %span オプションサービス
      %ul
        %li 簡単な清掃　1,000円（税抜き）/1部屋
        %li 敷地内草刈り　3,000円（税抜き）/1時間/1名
        %li 水撒き・水やり　1,000円（税抜き）
        %li その他　別途見積もり致します