.plan__contents__body__reference__box
  .plan__contents__body__reference__box__left
    %table
      %thead
        %tr
          %th 家財の種類
          %th 単位
          %th 料金
      %tbody
        %tr
          %td ソファー
          %td 1個
          %td 6,000円（税別）～
        %tr
          %td タンス
          %td 1個
          %td 2,000円（税別）～
        %tr
          %td ベッド
          %td 1台
          %td 3,000円（税別）～
        %tr
          %td 食器棚
          %td 1台
          %td 3,000円（税別）～
        %tr
          %td 自転車
          %td 1台
          %td 1,000円（税別）～
        %tr
          %td 机
          %td 1台
          %td 2,000円（税別）～
        %tr
          %td 椅子
          %td 1脚
          %td 1,000円（税別）～
        %tr
          %td 衣類
          %td 45ℓ1袋
          %td 500円（税別）～
        %tr
          %td たたみ
          %td 1枚
          %td 1,500円（税別）～
        %tr
          %td タイヤ
          %td 1個
          %td 700円（税別）～
        %tr
          %td 電子ピアノ
          %td 1台
          %td 8,000円（税別）～
  .plan__contents__body__reference__box__right
    %p.plan__contents__body__reference__box__right__text
      当社では、お客様のご予算に合わせ、最適なプランをご提案をさせていただくことが可能です。ぜひお気軽にご相談ください。
    %p.plan__contents__body__reference__box__right__text
      %span.plan__contents__body__reference__box__right__text__caution
        人件費・車両費は別途必要となります。(作業内容・作業場所により決定)
      %span.plan__contents__body__reference__box__right__text__caution
        料金はあくまでも目安です。実際の物量により変動いたします。
    .plan__contents__body__reference__box__right__option
      %h4
        %span オプションサービス
      %ul
        %li ハウスクリーニング
        %li リフォーム
        %li 解体工事
        %li 特殊清掃
      %p ※別途見積もり致します