.plan__contents__body__reference__box
  .plan__contents__body__reference__box__left.pack-box
    %table
      %thead
        %tr
          %th サービス内容
          %th 作業時間
          %th 料金(税抜き)
      %tbody
        %tr
          %td スポット(1回)
          %td 1時間
          %td 3,000円
        %tr
          %td 定期 2回/月
          %td 2時間
          %td 5,500円
        %tr
          %td 定期 4回/月
          %td 4時間
          %td 10,000円
        %tr
          %td 出張費
          %td 1時間以内
          %td 1,000円
    %span ※出張費はエリアにより異なります。
    %br
    %span ※時間や回数はお客様のご要望にそえるように調整いたします。何なりとご相談ください。