.plan__contents__body__reference__box
  .plan__contents__body__reference__box__left.pack-box
    %table
      %thead
        %tr
          %th サービス内容
          %th 料金(税抜き)
      %tbody
        %tr
          %td 軽トラ積み放題
          %td 25,000円
        %tr
          %td 軽トラホロ付積み放題
          %td 38,000円
        %tr
          %td ２トン深ダンプ積み放題
          %td 70,000円
        %tr
          %td ３トン車積み放題
          %td 150,000円
    %span ※人件費・車両費・処分費など全て含めた料金です。
    %br
    %span (リサイクル家電など特殊な物量がある場合は別途料金が必要です)