.plan__contents__body__reference__box
  .plan__contents__body__reference__box__left
    %table
      %thead
        %tr
          %th 広さ
          %th 作業員
          %th 料金(税抜き)
      %tbody
        %tr
          %td 1K
          %td 1名〜
          %td 28,000円～
        %tr
          %td 1DK
          %td 2名〜
          %td 58,000円～
        %tr
          %td 1LDK
          %td 3名〜
          %td 75,000円～
        %tr
          %td 2DK
          %td 3名〜
          %td 105,000円～
        %tr
          %td 2LDK
          %td 4名〜
          %td 125,000円～
        %tr
          %td 3DK
          %td 5名〜
          %td 145,000円～
        %tr
          %td 3LDK
          %td 5名〜
          %td 155,000円～
        %tr
          %td 4DK
          %td 6名〜
          %td 175,000円～
        %tr
          %td 4LDK
          %td 6名〜
          %td 195,000円～
  .plan__contents__body__reference__box__right
    %p.plan__contents__body__reference__box__right__text
      当社では、お客様のご予算に合わせ、最適なプランをご提案をさせていただくことが可能です。お見積もり後の追加料金は一切ございません。
    %p.plan__contents__body__reference__box__right__text
      %span.plan__contents__body__reference__box__right__text__caution
        人件費・車両費は別途必要となります。(作業内容・作業場所により決定)
      %span.plan__contents__body__reference__box__right__text__caution
        料金はあくまでも目安です。実際の物量により変動いたします。
      %span.plan__contents__body__reference__box__right__text__caution
        キャンセル料は当日以外発生いたしません。
    .plan__contents__body__reference__box__right__option
      %h4
        %span オプションサービス
      %ul
        %li 専門的なハウスクリーニング
        %li リフォーム
        %li 解体工事
        %li 特殊清掃
        %li その他
      %p ※別途見積もり致します