.plan__contents__body__reference__box
  .plan__contents__body__reference__box__left
    %table
      %thead
        %tr
          %th サービス内容
          %th 料金(税抜き)
      %tbody
        %tr
          %td 特殊清掃(床上)
          %td 20,000円〜/㎡
        %tr
          %td 特殊清掃(浴室)
          %td 50,000円～
        %tr
          %td 消臭・除菌剤散布
          %td 8,000円〜/室
        %tr
          %td オゾン脱臭処理
          %td 15,000円～
        %tr
          %td 部分撤去作業
          %td 15,000円～
        %tr
          %td クロス撤去
          %td 20,000円～/室
        %tr
          %td 畳の撤去
          %td 5,000円～枚
        %tr
          %td 消臭コーディング
          %td 18,000円～/㎡

  .plan__contents__body__reference__box__right
    %p.plan__contents__body__reference__box__right__text
      当社では、お客様のご予算に合わせ、最適なプランをご提案をさせていただくことが可能です。お見積もり後の追加料金は一切ございません。
    %p.plan__contents__body__reference__box__right__text
      %span.plan__contents__body__reference__box__right__text__caution
        人件費・車両費は別途必要となります。(作業内容・作業場所により決定)
      %span.plan__contents__body__reference__box__right__text__caution
        料金はあくまでも目安です。
      %span.plan__contents__body__reference__box__right__text__caution
        キャンセル料は当日以外発生いたしません。
    .plan__contents__body__reference__box__right__option
      %h4
        %span オプションサービス
      %ul
        %li 専門的なハウスクリーニング
        %li リフォーム
        %li 解体工事
        %li その他
      %p ※別途見積もり致します