.plan__contents__body__reference__box
  .plan__contents__body__reference__box__right.temple-plan
    %p.plan__contents__body__reference__box__right__text
      当社では、遺品を整理するだけでなく、丁寧に供養をするところまで完全対応しております。お見積もり後の追加料金は一切ございません。
    %p.plan__contents__body__reference__box__right__text
      %span.plan__contents__body__reference__box__right__text__caution
        料金はあくまでも目安です。
      %span.plan__contents__body__reference__box__right__text__caution
        キャンセル料は当日以外発生いたしません。
    .plan__contents__body__reference__box__right__option
      %h4
        %span ご供養費用
      %ul
        %li 遺品合同供養・お焚き上げ　無料(段ボール2箱まで)
        %li 3箱目から1箱プラス　3000円(税抜き)
        %li 個別供養　8,000円(税抜き)〜
        %li 自宅への出張供養　15,000円(税抜き)〜