.plan__contents__body__reference__box
  .plan__contents__body__reference__box__right.temple-plan
    %p.plan__contents__body__reference__box__right__text
      当社では、遺品を整理するだけでなく、丁寧に供養をするところまで完全対応しております。ぜひお任せください。
    %p.plan__contents__body__reference__box__right__text
      %span.plan__contents__body__reference__box__right__text__caution
        料金はあくまでも目安です。
    .plan__contents__body__reference__box__right__option
      %h4
        %span ご供養費用
      %ul
        %li 遺品合同供養　無料
        %li 個別供養　8,000円(税抜き)〜
        %li 自宅への出張供養　15,000円(税抜き)〜